h1 {
    text-align: center;
}

.suitecards-container {
    display: flex;
    flex-wrap: wrap;
    width: 85%;
    margin: auto;
    justify-content: center;
    overflow: hidden;
}

.suitecards-container > div {
    margin: 10px;
}

/* For small screens */
@media (max-width: 768px) {
    .suitecards-container {
        width: 100%;
    }

    .suitecards-inner-container {
        width: 100%;
    }

    div.suitecards-container>div:nth-of-type(even) {
        background: #e0e0e0;
    }
}
